# Dependencies
/node_modules

# Build
/dist
/tmp
/out-tsc

# IDEs
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.swp
*.swo

# Misc
/.angular/cache
.DS_Store
Thumbs.db

# Test output
/coverage
/playwright-report
/test-results

# Environment
*.env
.env.*

# Claude
.claude/settings.local.json
